/*
ANATOMIA DEL CSS

selector{
    propiedad: valor;
    propiedad: valor;
 } */

 body{
     background-color: darkslategrey;
 }

 h1{background: aquamarine;
color: darkcyan;}

h2{color: mediumturquoise;}

     p{color: springgreen;}
     b{color:lightseagreen;}
   em{color: navy;}
     
/*imagen*/
#foto-las-grutas{
/* ancho */
width:250px ;
/*alto */
height:100px;
}
/*imagen*/
#foto-fauna-sanluis{
/*ancho*/
width:250px ;
/*alto*/
height:100px ;
}
table{
    background-color: rgb(0, 0, 0);} 
    th{background-color: #006978; }
    tr{
        background-color: aquamarine;
    }